<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DBConnection" 
             connectionString="Server=database-1entradas-tecnologico-db.ctao62c4on29.us-east-2.rds.amazonaws.com,1433;Initial Catalog=entradas_tecnologico;User ID=adminuser;Password=Tecno.AWS.2024;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>